/* option {
    position: relative;
    padding-right: 20px;
  }
  
  .remove-option {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
   */