*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #585858;
    background-color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    /* mac dinh la 16px */
}

body{
    /* background-image:  url("../Tuan2/img/layer2.png"); */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    height: 95vh;
    /* view height */
    max-width: 95%;
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    flex-direction: column;
}


/* ============================================
*==================HEADER======================
=============================================== */
header {
    max-width: 100%;
    height: 10vh;
    /* background-color: bisque; */
    font-size: 20px;
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row wrap;
    border: 1px rgb(10, 0, 255) solid ;
    align-items: center;
}

.name-header h1{
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding-left: 0.5em;
    border-left: 1px rgb(0, 0, 0) solid ;
    /* width: 90vh; */
}

.logo{
    width: 7em;
    background-color: rgb(159, 152, 152);
}
.menu h2{
    font-size: 1em;
}

/* ============================================
*==================LAYOUT======================
=============================================== */

.layout{
    height: 85%;
    display: flex;
    max-width: 100%;
    flex-direction: row wrap;
    margin-top: 1em ;

}
.menu{
    display: flex;
    width: 15em;
    height: 81vh;
    margin-right : 1em;
    /* background-color: antiquewhite; */
    border: 1px rgb(208, 204, 204) solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-menu{
    display: flex;
    width:  10em;
    height: 5vh;
    border: 1px rgb(208, 204, 204) solid ;
    margin: 0.5em;
    font-size: 0.5em;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.name-menu:hover{
    border: 2px solid rgb(10, 0, 255);
    color: rgb(10, 0, 255);
    font-weight: bolder;
    font-size: 0.55em;
}
.name-menu.active {
    border: 2px solid rgb(10, 0, 255);
    color: rgb(10, 0, 255);
    font-weight: bolder;
    font-size: 0.55em;
  }

.main{
    display: none;
    /* display: flex; */
    width: 100%;
    /* background-color: antiquewhite; */
    /* border: solid gray; */
    flex-direction: column;
}
.main h2{
    font-size: 0.7em;
    color: rgb(56, 27, 86);
}
.chart{
    display: flex;
    /* border: #5a5a5a solid; */
    height: 10em; 
    flex-direction: row;
    /* justify-content: space-between; */
    flex-grow: 1;
}
.chart .request{
    display: flex;
    width: 32%;
    border: 1px rgb(208, 204, 204) solid ;
    margin-right: 0.5em;
    flex-basis: 30%;
    flex-direction: column;
}
.chart .running{
    display: flex;
    width: 32%;
    border: 1px rgb(208, 204, 204) solid ;
    margin-right: 0.5em;
    flex-basis: 30%;
    flex-direction: column;
}
.chart .devices{
    display: flex;
    width: 32%;
    border: 1px rgb(208, 204, 204) solid ;
    flex-direction: column;
    flex-basis: 40%;
}


.chart .devices h2{
    display: flex;
    margin: 0.1em;
}

.devices .list-table {
    display: block;
    margin: 0 auto;
    font-size: 0.7em;
    width: 95%;
    border-collapse: collapse;
    height: 100%;
    overflow: auto;
  }

  
  .devices .list-table th:first-child {
    font-weight: bold;
  }
  
  .devices .list-table th,
  .devices .list-table td {
    border: 1px solid #ddd;
    padding: 5px;
    height: 5vh;
    width: 5em;
    max-width: 6em;
    word-wrap: break-word;
  }
  
  .devices .list-table th {
    background-color: #f2f2f2;
  }
  
  .devices .list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .devices .list-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  

.console{
    display: flex;
    height: 100%;
    border: 1px rgb(208, 204, 204) solid ;  
    margin-top: 0.5em;
    flex-direction: column;
}

.console h2{
    font-size: 1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.console-chat{
    margin-left: 0.5em;
    flex-direction: column;
    /* overflow: auto; */
    height:100% ;
}

.list-table {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    width: 90%;
    border-collapse: collapse;
    height: 44vh;
    overflow: auto;
  }
  .list-table thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  
  .list-table th:last-child {
    font-weight: bold;
    width: 100%;
    max-width: 100%;
  }
  .list-table tbody {
    overflow: auto;
    max-height: 40vh;
  }


  .devices .list-table thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  
  .devices .list-table tbody {
    overflow: auto;
    max-height: 40vh; /* Điều chỉnh chiều cao tùy ý */
  }

  .list-table th,
  .list-table td {
    border: 1px solid #ddd;
    padding: 5px;
    height: 5vh;
    
    word-wrap: break-word;
  }

/*  ============================================
*===================DEVICES======================
=============================================== */

.layout-devices{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.taskbar{
    height: 10vh;
    display: flex;
    flex-direction: row ;
    border: 1px solid rgb(208, 204, 204);
    align-items: center;
    justify-content: center;
}
.ele-taskbar{
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 7vh;
    margin: 0.5em;
    background-color:  rgb(180, 180, 180);
    display: flex;
    font-size: 0.7em;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 3px;

}

.ele-taskbar:hover{
    font-size: 0.8em;
}

.ele-taskbar.active{
    color: white;
    background-color: rgb(10, 0, 255);
}
.tab-device{
    display: none;
    margin-top: 1vh;
    height: 100%;
    flex-direction: column;
    /* border: solid rgb(208, 204, 204); */
}
/* *TAB ADD */

.add-device{
    display: flex;
    flex-direction: row;
    font-size: 1em;
}
.add-device h3{
    font-size: 1em;
    color: rgb(61, 12, 91);
}
.add-device .enter{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    /* border: solid rgb(208, 204, 204); */
    width: 10em;
    height: 7vh;
    justify-content: center;
    /* align-items: center; */
}

.add-device .enter input{
    font-size: 0.7em;
    cursor: auto;
}
.add-device .enter select{
    font-size: 0.7em;
    cursor: pointer;
}

.add-device button{
    width: 6em;
    /* height: 4vh; */
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(10, 0, 255);
    color: rgb(10, 0, 255);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.add-device button:hover{
    scale: 1.1;
    font-size: 1.1em;
}

.list-devices{
    display: flex;
    width: 100%;
    height: 62vh;
    border: 1px solid rgb(208, 204, 204);
    margin: 0 auto;
    margin-top: 1vh;
    flex-direction: column ;
    align-items: stretch;
}

.list-devices h2{
    font-size: 1.5em;
    margin: 0.5em;
    display: block;
}
.list-devices .list-table{
    flex-grow: 1;
    margin: 1em auto;
    margin-top: 0em;
    border-collapse: collapse;
    display: block;
    overflow: auto;
}
.list-table button{
    cursor: pointer;
    margin-left: 0.5em;
}

.list-table button:hover{
  color: red;
  border: none;
}

.list-devices .list-table th{
    width: 25em;
    height: 5vh;
    border: solid rgb(208, 204, 204);
}
.list-devices .list-table th,
.list-devices .list-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.list-devices .list-table th {
  background-color: #f2f2f2;
}

.list-devices .list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-devices .list-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* .list-devices .list-table tbody tr button :hover {
  color: #694242;
} */

/* *TAB EDIT */

#info {
    flex-direction: row;
    flex-grow: 1;
}

.edit-info{
    justify-content: center;
    position: relative;
    align-items: center;
    border: 1px solid rgb(208, 204, 204);
    height: 70vh;
    /* max-width: 50em; */
    display: flex;
    /* flex-direction: row wrap;   
    flex-wrap: wrap; */
    overflow: auto;
    flex-direction: column;   
    flex-grow: 1;

}

.serial-robo{
    position: absolute;
    left: 1em;
    top: 2vh;
}

.serial-robo h2, .serial-robo h3{
    display: contents;
}

.save-info-robo{
    position: absolute;
    right: 1em;
    bottom: 1vh;
    max-width: 5em;
    height: 6vh;
}
.save-info-robo button{
    font-size: 1em;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(208, 204, 204);
    padding: 0.3em;
    cursor: pointer;
}
.save-info-robo button:hover{
    /* background-color: aquamarine; */
    scale: 1.1;
}

.info-robo{
    margin: 1em;
    /* border: solid rgb(208, 204, 204); */
}

.info-robo textarea{
  font-size: 1.4em;
  border-radius: 5px;
}

.menu-edit {
  display: flex;
  position: relative;
  width: 20em;
  margin-left: 1em;
  flex-direction: column;
  border: 1px solid rgb(208, 204, 204);
  height: 70vh;
}
.menu-edit h2 {
  display: flex;
  font-size: 1em;
}
.menuOptions1 {
  display: flex;
  margin-left: 1em;
  /* background-color: #f9f9f9; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  right: 0;
  flex-direction: column;
  overflow: auto;
}

.menuOptions1 li {
  margin: 0.5vh 1vh;
  display: flex;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgb(208, 204, 204);
  background-color: #f9f9f9;
  
}

.toggleBtn {
  background-color: #ccc;
  border: none;
  padding: 10px;
  cursor: pointer;
}


  /* *REMOTE */
  #remote{
    flex-direction: row;
    flex-grow: 1;
  }

  .control-robo{
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .layout-control{
    justify-content: center;
    position: relative;
    align-items: center;
    border: 1px solid rgb(208, 204, 204);
    height: 70vh;
    /* max-width: 50em; */
    display: flex;
    flex-direction: column;   
    flex-grow: 1;
    /* flex-wrap: wrap; */
    margin-right: 1em;
}
.layout-command{
  margin-top: 7vh;
  display: flex;
  border: 1px solid #f3edf3;
  /* background-color: #f3edf3; */
  width: 100%;
  height: 10vh;
  overflow: auto;
}
.layout-command .info-robo{
  display: flex;
  flex-direction: row;
}

.layout-command h2{
  display: flex;
  font-size: 1em;
}

.layout-command button{
  font-size: 1em;
  cursor: pointer;
  margin-left: 0.5em;
  height: min-content;
}
#command {
  display: flex;
  margin-left: 1em;
}

.menu-control {
  display: flex;
  position: relative;
  max-width: 8em;
  max-height: 6vh;
  margin: 0 auto;
  flex-direction: column;
}

.menuOptions {
  display: none;
}

.menuOptions.show {
  display: block;
  
}

.menuOptions li{
  display: flex;
  cursor: pointer;
  border: 1px solid rgb(208, 204, 204);
  font-size: 1em;
  background-color: #f9f9f9;
  color: rgb(0, 0, 0);
  margin: 0.5vh 0em;
  word-wrap: break-word;
  width: 100%;
}

.remote-robo{
  display: flex;
  max-width: 17em;
  margin: 3em;
  height: 3vh;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}
.remote-robo button{
  font-size: 1em;
  padding: 0.3em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(208, 204, 204);
}
.remote-robo textarea{
  display: flex;
  font-size: 1.4em;
  border-radius: 5px;
}
.remote-robo h2{
  display: flex;
  font-size: 1.4em;
  position: relative;
}


.select-Goto{
  display: block;
  /* flex-direction: row; */
  margin: 1em;
  margin-left: 0em;
  /* background-color: #5a5a5a; */
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none white;
}


#menuGoto{
  display: none;
  position: absolute;
  flex-direction: column;
  margin: 1em;
  /* background-color: #353333; */
  justify-content: center;
  align-items: center;
}

.menuGoto{
  /* display: none; */
  position: absolute;
  flex-direction: column;
  margin: 1em;
  /* background-color: #353333; */
  justify-content: center;
  align-items: center;
}

.menuGoto li{
  display: flex;
  cursor: pointer;
  border: 1px solid rgb(208, 204, 204);
  font-size: 1em;
  background-color: #f9f9f9;
  color: rgb(0, 0, 0);
  margin: 0.5vh 0em;
}

/* *==============REQUEST================== */

/* #request{
  /* border: solid; */
 


.ele-taskbar-request{
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 7vh;
  margin: 0.5em;
  background-color:  rgb(180, 180, 180);
  display: flex;
  font-size: 0.7em;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 3px;
}

.ele-taskbar-request:hover{
  font-size: 0.8em;
}

.ele-taskbar-request.active{
  color: white;
  background-color: rgb(10, 0, 255);
}
.tab-request{
  display: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* border: 1px solid rgb(208, 204, 204); */
  margin-top: 0.5em;
  flex-grow: 1;
}

.layout-location{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: #5a5a5a solid; */
  /* margin: 1em; */
  flex-grow: 1;
  /* overflow: auto; */
}

.add-location{
  display: flex;
  flex-direction: column;
  margin: 1vh 0em;
  border:  1px solid rgb(208, 204, 204);
  width: 15em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.layout-location h2{
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.layout-location .list-table{
  margin: 0em auto;
  margin-top: 0em;
  border-collapse: collapse;
  display: block;
  overflow: auto;
}

.layout-location .list-table th{
  width: 10em;
  height: 5vh;
  border: solid rgb(208, 204, 204);
}
.layout-location .list-table th,
.layout-location .list-table td {
border: 1px solid #ddd;
padding: 8px;
}
.layout-location .list-table th {
background-color: #f2f2f2;
}

.layout-location .list-table tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

.layout-location .list-table tbody tr:hover {
background-color: #f5f5f5;
}

.run-add{
  font-size: 1em;
  margin-top: 1em;
}
#list-location tbody tr{
  cursor: pointer;
}


.enter button{
  font-size: 1em;
  margin-top: 1em;
  /* margin-bottom: 1em; */
  cursor: pointer;
}

.enter input{
  font-size: 1em;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  /* cursor: pointer; */
}
.enter select{
  font-size: 1em;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  cursor: pointer;
}
.menu-add select{
  font-size: 1em;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  cursor: pointer;
  width: 84%;
}
.menu-add option{
  font-size: 1em;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  cursor: pointer;
}

/* .menu-add{
  display: flex;
  flex-direction: column;
  margin: 1vh 0em;
  border:  1px solid rgb(208, 204, 204);
  width: 15em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 3px;
} */
/* *table order */

#orderTable td{
  font-size: 0.8em;
  word-wrap: break-word;
}